* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-size: 0;
	background-color: black;
}

/*grid setting*/
.col {
	position: absolute;
	display: inline-block;
	height: 100px;
}

.col-1of6 {
	width: calc(100% / 6);
}

.col-2of6 {
	width: calc(100% / 6 * 2);
}

.col-6of6 {
	width: 100%;
}

/*navigation*/
#nav {
	position: fixed;
	bottom: 0;
	z-index: 2;
	overflow: hidden;
	transition: transform 1s;
}

#nav_bg {
	background-color: black;
}

#nav_back {
	position: fixed;
	bottom: 0;
	height: 105px;
	background-color: #3395AF;
	z-index: 1;
	transition: height 0.5s, transform 1s;
}

#nav_back:hover {
	height: 145px;
}

#jackdock {
	right: 0;
	z-index: 3;
}

.jack {
	position: relative;
	display: inline-block;
	top: 0;
	width: 15px;
	height: 50px;
	margin: 0 20px 0 0;
	float: left;
	background-color: #757575;
	transition: top 1s, background-color 1s;
}

.j_current {
	top: 40px;
	background-color: lightgrey;
}

#infobox {
	left: 0;
	z-index: 3;
}

/*#infobox_bg {
	width: 100%;
	height: 100%;
	background-color: lightgrey;
}*/

.mini {
	position: absolute;
	left: 50px;
	top: 10px;
	width: 50%;
}

.name {
	position: absolute;
	top: 6px;
	left: 67%;
	font-family: futura;
	font-weight: bold;
	font-size: 24px;
	margin: 0;
	color: #3395AF;
	opacity: 0;
	z-index: 4;
	transition: opacity 0.5s;
}

.n_current {
	opacity: 1;
}


/*general section setting*/
main {
	position: absolute;
	display: none;
	top: 0;
	width: 100%;
	height: calc(100% - 105px);
	overflow: auto;
	transition: height 1s;
}

.s_current {
	display: block;
}

/*music*/
#albumcover {
	position: absolute;
	left: 0;
	right: 0;
	top: -300px;
	height: 600px;
	margin: auto;
	animation: rtt linear 20s infinite;
}

@keyframes rtt {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

#lyricalinfo {
	position: absolute;
	left: 0;
	right: 0;
	top: 330px;
	width: 300px;
	height: 180px;
	margin: auto;
	border-left: 1px solid #3395AF;
	border-right: 1px solid #3395AF;
}

.lyrics {
	position: relative;
	font-family: "Helvetica Neue";
	left: 0;
	right: 0;
	top: 10px;
	margin: auto;
	width: 260px;
	height: 160px;
	overflow: scroll;
	font-size: 12px;
	z-index: 2;
	color: #3395AF;
	opacity: 0.8;
	transition: opacity 0.5s;
}

.lyrics:hover {
	opacity: 1;
}

#m_playlist {
	position: absolute;
	top: 40%;
	width: 200px;
	height: 100px;
	z-index: 1;
}

#songlist {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: scroll;
	z-index: 2;
}

#m_playlist_bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #3395AF;
	opacity: 0.5;
}

.sn_bg {
	position: relative;
	left: 45px;
	width: 140px;
	margin: 5px 0;
	z-index: 3;
}

.songname {
	margin: 0;
	font-family: futura;
	font-weight: 100;
	font-size: 12px;
	color: white;
	opacity: 0.8;
}

.sn_current {
	background-color: #3395AF;
}

.sn_inline {
}

/*video*/
#v_player {
	width: 100%;
	height: 100%;
}

.video {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	border: 0;
}

#v_playlist {
	position: fixed;
	top: 0;
	height: 10px;
	z-index: 1;
	overflow: hidden;
	transition: height 0.5s;
}

#v_playlist:hover {
	height: 100px;
}

#v_playlist_bg {
	position: absolute;
	width: 0;
	height: 100%;
	background-color: #3395AF;
	opacity: 0.5;
	z-index: 1;
	transition: width 2s;
}

#v_playlist:hover #v_playlist_bg{
	width: 100%;
}

#v_playlist_current {
	left: 0;
	background-color: #3395AF;
	z-index: 2;
}

#v_playlist_inline {
	left: 16.666%;
	opacity: 0;
	float: left;
	transition: opacity 1s;
	z-index: 2;
}

#v_playlist:hover #v_playlist_inline {
	opacity: 1;
}

.v_preview {
	margin: 10px;
	width: calc(100% - 20px);
	height: calc(100% - 20px);
	background-color: lightgrey;
	z-index: 3;
}

/*home*/
/*main {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	min-width: 700px;
	max-width: 1400px;
}

#mtv {
	position: fixed;
	top: 20px;
	left: 10px;
	z-index: 1;
	width: 50%;
}



/*#jackdock {
	position: absolute;
	left: 83.333%;
	width: 16.666%;
	height: 100px;
	z-index: 2;
}

#jackdock_bg {
	width: 100%;
	height: 100%;
	background-color: grey;
}

#jack {
	position: absolute;
	width: 20px;
	z-index: 3;
}
