* {
	box-sizing: border-box;
}

body {
	margin: 4px;
}

header {
	position: fixed;
	left: 20px;
	bottom: 10px;
}

.label {
	display: inline-block;
}

.label.active {
	background-color: lightpink;
}

.label.inactive {
	background-color: lightblue;
}

.prompt, .monitor {
	display: inline-block;
	background-color: white;
	padding: 10px;
	border: 1px solid black;
}

.prompt {
	animation: pulse 2s infinite;
}

.block {
	display: inline-block;
	border: 1px solid black;
}

.black {
	background-color: black;
}

.yellow {
	background-color: yellow;
}

/*animations*/
@keyframes pulse {
	0% {opacity: 0;}
	50% {opacity: 1;}
	100% {opacity: 0;}
}

/*phone*/
@media (max-width: 480px) {
	.block {
		width: calc(20% - 4px);
		padding-top: calc(20% - 4px);
	}
	.block:hover {
		background-color: lightpink;
	}
	.label.active {
		display: none;
	}
}

/*tablet & small desktop*/
@media (min-width: 481px) and (max-width: 991px) {
	.block {
		width: calc(10% - 4px);
		padding-top: calc(10% - 4px);
	}
	.block:hover {
		background-color: lightblue;
	}
	.label.inactive {
		display: none;
	}

	.prompt {
		display: none;
	}
}

/*large desktop*/
@media (min-width: 992px) {
	.block {
		width: calc(5% - 4px);
		padding-top: calc(5% - 4px);
	}
	.block:hover {
		background-color: red;
	}
}